/* Basislayout */

body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("694.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#Space {
    height: 400px;
text-align:center;
margin-left: 310px;
width: 50%;

}
h3 {
    text-align: center;
}
main {
    margin: 0 auto;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin:auto;
    padding: 0;
    background-color:purple;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:rgb(22, 6, 26);
}

nav li a.active {
    background-color:rgb(22, 6, 26);
}


h1 {
    color:darkslateblue;
    text-align: center;
    
}

body {background-color: rgb(22, 6, 26);
color:white; }

#sterren {
    width: 40%;
    height: 350px;
    margin-left: 120px;
}

#ster {
    width: 40%;
    height: 350px;
    margin-right: 120px;
    margin-top: 70px;
}

#blackhole {
    width: 40%;
    height: 350px;
    margin-left: 120px;
}

#zuig {
    width: 40%;
    height: 350px;
    margin-right: 120px;
    margin-top: 70px;
}

#super {
width: 40%;
height: 350px;
margin-left: 120px;
}

#nova {
    width: 40%;
    height: 350px;
    margin-right: 120px;
    margin-top: 70px;
}

#planeet {
    height: 400px;
    text-align: center;
    margin-left: 310px;
    width: 50%;
}
#zijkant {
float:left;
margin-left: 30px;
}

#lijstje{
 height: 100px;
 margin-left: 30px;
}
p {
    text-align: center;
    color:white;
}
#meer {
    text-align: center ;
    color: white;
}
#niet-zij {
    text-align: left;
    margin-left: 30px;
}