/* Basislayout */

body, html {
    height: 100%;
  }
  
  .bg { 
    background-image: url("694.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#Space {
    height: 400px;
text-align:center;
margin-left: 310px;
width: 50%;

}
h3 {
    text-align: center;
}
main {
    margin: 0 auto;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}



a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin:auto;
    padding: 0;
    background-color:purple;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:rgb(22, 6, 26);
}

nav li a.active {
    background-color:rgb(22, 6, 26);
}

h1 {
    color:purple;
    text-align: center;
}

body {
    background-color: rgb(22, 6, 26);
color:white; 
}

#planeet {
    height: 400px;
    text-align: center;
    margin-left: 310px;
    width: 50%;
}
#zijkant {
float:left;
margin-left: 30px;
}

#lijstje{
 height: 100px;
 margin-left: 30px;
}
p {
    text-align: center;
    color:white;
}
#meer {
    text-align: center ;
    color: white;
}
#niet-zij {
    text-align: left;
    margin-left: 30px;
}
#countdown {
    height: 400px;
    font-size: 150px;
    color:crimson;
}
.Kerst { 
    background-image: url("KErst.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #Kerst_titel {
      color:crimson;
  }

  .left {
    width: 40%;
    height: 350px;
    margin-left: 120px;
  }
  .right {
    width: 40%;
    height: 350px;
    margin-right: 120px;
    margin-top: 70px;
    border: 0px;
  }

  nav li a.Cmas {
    background-color:red;
}

nav ul#Cmas {
    list-style-type: none;
    margin:auto;
    padding: 0;
    background-color:crimson;
    overflow: hidden;
}